@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
dt = 0.75s
body
  margin 0
  padding 0
  background: #FFF;
  transition: background dt linear;
  -webkit-transition: background dt linear;
  -moz-transition: background dt linear;
  font-family: 'Montserrat', sans-serif;

.dotSection
  background-color #373369
  height 14%
  width 100%
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  .dotsContent
    display flex
    flex-direction row
    justify-content space-around
    align-items center
    width: 70%;
    position: relative;
    img
      width: 100%;
      position: absolute;
      top: 38%;
      left: 0;
    .selected
      height: 30px !important
      width: 30px !important
    .dots
      background-color yellow
      border-radius 200px
      height 15px
      width 15px
      display inline-block
      margin 0
      cursor pointer
      z-index 1
.title
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  text-decoration: underline;

#why
  overflow-x: hidden !important
  overflow-y: scroll !important

.reasons
  margin 0 20%
  .reason
    width 41%
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img
      width 112px
    .reasonTitle
      font-family: 'Open Sans Condensed', sans-serif;
      font-size 24pt
      font-weight bolder
      color #211841
      align-self baseline
    .reasonContent
      font-family: 'Arimo', sans-serif;
      font-size 12pt
      color #5b595d

.video
  position relative
  width 100%
  display flex
  flex-direction column
  justify-content center
  align-items center
  margin-bottom 30px
  iframe
    margin: 30px 0 60px 0;
  .greyZone
    height: 130px;
    background-color: #e7e5f0;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    p
      font-family: 'Open Sans Condensed', sans-serif;
      font-size 19pt
      font-weight bolder
      position absolute
      bottom 0px
      left: 46%
      color #211841
.footer
  background-color #211841
  display: flex;
  flex-direction: column;
  height: 14%;
  justify-content: center;
  align-items: center;
  position: relative;
  .nameImg
    width 130px
    margin 15px 0
  .barraImg
    width: 100%;
    position: absolute;
    bottom: 0;

#canvas
  svg
    position fixed
    top 0
    left 0
    height 100%
    width 100%
    z-index -10

#slides
  overflow: hidden;
  width: 100%;
  height: 100%;
  position absolute
  z-index -10

.slideElem
  width: 100%
  height: 100%

#tituloHG
  margin auto
  border-radius .5em
  background-color #F10000
  z-index 1

  h1
    margin .125em .4em
    font-size 4.5em
    color #ffffff
    z-index 4

    span
      font-size .4em

aside[id="slides-control"] .slidr-control.right
  width: 50px !important;
  height: 50px !important;
  top: 50% !important;
  margin-top: -25px !important;
  right: -25px !important;
  border-radius: 25px;
  background-color #000000
  opacity: 0.6;

aside[id="slides-control"] .slidr-control.left
  width: 50px !important;
  height: 50px !important;
  top: 50% !important;
  margin-top: -25px !important;
  left: -25px !important;
  border-radius: 25px;
  background-color #000000
  opacity: 0.6;

.slidr-control.up
  display: none !important

.slidr-control.down
  display: none !important

#home
  border-top 10px solid #423473
  border-bottom 10px solid #423473

#aristaLogo
  background-color #cbc8d7
  height 50%
  width 100%
  display flex
  flex-direction row
  justify-content center
  align-items center
  img
    width 30%
.aristaInfo
  display flex
  flex-direction column
  justify-content center
  align-items center
  height 48%
  h2
    width 10%
    text-align center
    color #302444
    border-bottom solid #302444
  .descargaMarcador
    border solid #312444
    color #312444
    cursor pointer
    padding 5px
  .descargaMarcador:hover
    color #FFF
    background-color #312444
#registro
  display flex !important
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .titleRegister
    display inline-block
    background-color #d3d2d1
    border-bottom solid #5AB3D2
    padding 5px 40px
    font-family: 'Open Sans Condensed', sans-serif;
    color #211841
    font-weight bolder
    figcaption
      font-size 17pt
  .benefits
    width 350px
    color #4f4d52
    list-style-image: url('images/dots.png');
    font-family: 'Arimo', sans-serif;
    font-size 10pt
    .singleBenefit
      margin 8px 0
  #sendMessage
    display: flex;
    flex-direction: column;
    .campo
      font-family: 'Arimo', sans-serif;
      font-size 11pt
      width 350px
      display block
      padding 5px
      margin 5px 0
      border none
      background-color #e5e4f2
      border-top solid #5AB3D2
      border-left solid #5AB3D2
    .campo::-webkit-input-placeholder
      color #000
    #registrar
      font-family: 'Arimo', sans-serif;
      font-size 12pt
      text-align center
      color #f6b028
      font-weight bold
      border 1px solid #f6b028
      border-radius 15px
      margin: 10px auto;
      padding 5px
      cursor pointer
    #registrar:hover
      background-color #c6c433
      color #f3eff2
      border-color #c6c433

.footerRegister
  width 100%
  height 28%
  bottom -19px
.appBadges
  img
    height 30px
